# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Environment Variables
.env
.env.local
.env.*.local

# Python virtual environments
venv/
env/
env.bak/
venv.bak/
.venv/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
egg-info/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/

# Jupyter Notebook
.ipynb_checkpoints

# Logs
*.log

# Coverage
.coverage
.coverage.*
htmlcov/

# Pytest
.cache
pytest_cache/
*.cover

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# IDEs and editors
.ide
